<h1>Hello World</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">IKU</th>
        <th scope="col">TARGET %</th>
        <th scope="col">REALISASI %</th>
        <th scope="col">TARGET MUTLAK</th>
        <th scope="col">REALISASI MUTLAK</th>
      </tr>
    </thead>
    <tbody>
        <% if (rows) { %>
            <% for(let i = 0; i<rows.length;i++){%>
          <tr>
            <td><%= rows[i].nama_iku %> </td>
            <td><%= rows[i].target_iku %></td>
            <td><%= rows[i].realisasi_iku %></td>
            <td><%= rows[i].target_mutlak %></td>
            <td><%= rows[i].realisasi_mutlak %></td>
          </tr>
          <% } %>
         
        <% } %>
    </tbody>
  </table>